<style type='text/css'>
    html, body{
        height:100%;width:100%;
        font-size:1.4em;
    }
    .padded {
        padding: 20px;
        font-size: 2em;
    }

    input, select {
        width: 50%;
        height:40px;
        font-size: 30px;
    }

    input[type='text'], select {
        width: 70%;
    }
</style>

<div class='padded'>
    <div id='csExample'>
        <h2>EyeSkills Setup</h2>
        <br><br>
            <form onsubmit='UsernameFormHandler.OnSubmit'>
                Practitioner ID:<br>
                <input type='text' name='practitioner' id="practitioner"/><br>
                Proband name:<br>
                <input type='text' name='name' id="name"/><br>
                Age group:<br>
                <select name="asset">
                    &assetstyle;
                </select><br>
                Lock experience:<br>
                <select name="lock" id="lock">
                    &experienceoptions;
                </select><br>
                Remote Server Url (ws://[server]:[port]/ws):<br>
                <input type='text' name='remoteServerUrl' id="remoteServerUrl"/><br><br>
                Activate practitioner mode:
                <input type='checkbox' id="practitionerMode" name="practitionerMode" /><br />
                <input type='submit' value='Apply' /> &nbsp;
                <input type='submit' value='Cancel'/>
            </form>
    </div>
</div>
