<!-- Time for a little CSS! -->
<style type='text/css'>

.red-healthbar{
	display:inline-block;
	width:100px;
	height:10px;
	border:1px solid black;
	background:red;
	text-align:left;
}

.green-healthbar{
	background:green;
	height:100%;
	width:0%;
}

</style>

<center style='margin:auto;'>
<br><br>
<div style='width:50%; float:left;'>
	
	<img src='use-cardboard-icon.png' width="70%"/><br>
	<h1>&counter;</h1>

</div>
<div style='width:50%; float:right;'>
	
	<img src='use-cardboard-icon.png' width="70%"/><br>
	<h1>&counter2;</h1>

</div>

</center>