<div style='padding:20px; margin:auto; text-align:center;' id="portrait">
		<img src='use-cardboard-icon.png' width="60%"/><br>
		<p>Place your phone into your Cardboard viewer.</p>
</div>

<div style='position:fixed; top:0; left:0; width:100%; background: black; display:none;' id="landscape">
	<div style='float:left; width: 50%; text-align:center;'>
		<br><br><br><br><p>Please wait...</p>
	</div>
	<div style='float:left; width: 50%; text-align:center;'>
		<br><br><br><br><p>Please wait...</p>
	</div>
</div>
